* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.app {
    /* width: 720px; */
    height: 1000px;
    background: var(--tg-theme-secondary-bg-color);
    padding: 30px 20px 20px;
    max-width: 720px;
}

p.category {
    color: var(--tg-theme-hint-color);
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1.5px;
}

h1.title {
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 15px;
}

.tag {
    padding: 0 20px;
    border-radius: 30px;
    font-size: 18px;
    display: inline-block;
}

.tag.danger {
    border: 1px solid #e95f5d;
    color: #e94c49;
}

.tag.primary {
    border: 1px solid #21fc04a9;
    color: #21fc04c0;
}

.buttons {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 10px 0;
    margin-bottom: 15px;
}

.buttons::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.button {
    color: var(--tg-theme-link-color);
    border-bottom: 1px solid var(--tg-theme-link-color);
    display: inline-block;
    padding: 0 4px;
    padding-bottom: -3px;
    line-height: 100%;
    margin-right: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease;
}

.button.active {
    color: var(--tg-theme-text-color);
    border-bottom: 1px solid var(--tg-theme-text-color);
}

.panel {
    display: none;
    color: var(--tg-theme-text-color);
    animation: panel .3s forwards linear;
}

.panel ul {
    margin-left: 20px;
}

.panel iframe {
    width: 100%;
}

@keyframes panel {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.panel.active {
    display: block;
}