* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.app {
  /* width: 720px; */
  /* height: 1000px; */
  background: var(--tg-theme-bg-color);
  padding: 30px 20px 20px;
  max-width: 720px;
}

p.category {
  color: var(--tg-theme-hint-color);
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 1.5px;
}

h1.title {
  color: var(--tg-theme-text-color);
  margin-bottom: 10px;
}

.tags {
  margin-bottom: 15px;
}

.tag {
  padding: 0 20px;
  border-radius: 30px;
  font-size: 18px;
  display: inline-block;
}

.tag.danger {
  border: 1px solid #EB4E3D;
  color: #EB4E3D;
}

.tag.primary {
  border: 1px solid #21fc04a9;
  color: #21fc04c0;
}

.buttons {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 10px 0;
  margin-bottom: 15px;
}

.buttons::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.button {
  color: var(--tg-theme-link-color);
  border-bottom: 1px solid var(--tg-theme-link-color);
  display: inline-block;
  padding: 0 4px;
  padding-bottom: -3px;
  line-height: 100%;
  margin-right: 10px;
  font-weight: 400;
  cursor: pointer;
  transition: all .3s ease;
}

.button.active {
  color: var(--tg-theme-link-color);
  border-bottom: 1px solid var(--tg-theme-link-color);
}

.panel {
  display: none;
  color: var(--tg-theme-text-color);
  animation: panel .3s forwards linear;
}

.panel ul {
  margin-left: 20px;
}

.panel iframe {
  width: 100%;
}

@keyframes panel {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.panel.active {
  display: block;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url('//i.imgur.com/TxzC70f.png') no-repeat;
  cursor: pointer;
}
